.header__logo{
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 93px;
}
.logo__special {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.footer-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
}