.about{
    padding-bottom: 110px;
}
.about__title-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.about-list{
    display: flex;
}
.about-list__item{
    margin-right: 30px;
}
.about-list__container{
    width: 270px;
    height: 120px;
    left: 815px;
    top: 774px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 25px 100px;
}
.about-list__title{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--ferst-btn-color);
    margin-bottom: 10px;
    text-align: center;
}
.about-list__text{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-color);
}