.backdrop{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;
}
.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal{
    @include dest{
        min-height: 581px;
        width: 528px;
    }
    min-height: 609px;
    width: 450px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 250ms ;
    padding: 40px;
    .backdrop.is-hidden &{
        transform: rotate(45deg);
    }
}
.modal-icon-button{
    width: 11px;
    height: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
}
.modal-icon{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-sizing: border-box;
}
.modal-title{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
}
.input-wrap{
    position: relative;
}
.input-icon{
    position: absolute;
    left: 14px;
    top: 13px;
    fill: var(--ferst-btn-color);
    transition: fill 250ms;
}
.form-lebel{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em; 
    color: #757575;
}
.form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    padding-left: 42px;
    transition: border-color 250ms;
    &:hover{
        border-color: var(--accent-color);
    }
    &:hover + .input-icon{
        fill: var(--accent-color);
    }
}

.form-comment{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    outline: none;
    resize: none;
    cursor: pointer;
    &:hover{
        border-color: var(--accent-color);
    }
    &::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}
.form-field{
   padding-top: 20px;
   padding-bottom: 30px;
}
.chek-text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
    &::before{
        content: "";
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 3px;
        margin-right: 8px;
       
    }
    @include dest{
        font-size: 14px;
        line-height: 1.71;
        &::before{
            margin-left: 12px;
        }
    }
}
.policy-chek:checked + .chek-text::before{
border: none;
background-image: url(../images/icon-check.svg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.chek-text-link{
    color: var(--accent-color);
    padding-left: 5px;
}
.btn-form{
    border: none;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-left: 85px;
    @include dest{
        margin-left: 120px;
    }
    
}